.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c37ff5;
  background-image: 
      radial-gradient(at 47% 33%, hsl(175.58, 93%, 68%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(197.95, 84%, 53%) 0, transparent 55%);
  

}
.box{
  min-width: 300px;
  min-height: 300px;
  backdrop-filter: blur(20px) saturate(167%);
  -webkit-backdrop-filter: blur(20px) saturate(167%);
  background-color: rgba(255, 255, 255, 0.68);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
.inp{
  width: 80%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 1rem;
  font-family: 'Poppins', sans-serif;
  padding: 0.8rem;
 
}
.inp:focus{
  border-bottom: 1px solid rgb(235, 70, 70);
}

.btn{
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgb(109, 4, 188);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.btn:disabled{
opacity: 0.5;
}

.image{
  min-height: 200px;
  min-width: 200px;
}

.pokemons{
  padding:0.5rem;
  cursor: pointer;
}

.loader{
  width: 4vmax;
  height: 4vmax;
  border-right: 4px solid #090909;
  border-radius: 100%;
  animation: spinRight 800ms linear infinite;
  margin-bottom: 1rem;

}
  
.loader:before, .loader:after {
    content: '';
    width: 3vmax;
    height: 3vmax;
    display: block;
    position: absolute;
    top: calc(50% - 1.5vmax);
    left: calc(50% - 1.5vmax);
    border-left: 3px solid #635e5e;
    border-radius: 100%;
    animation: spinLeft 800ms linear infinite;
  }
  
  .loader:after {
    width: 2vmax;
    height: 2vmax;
    top: calc(50% - 1vmax);
    left: calc(50% - 1vmax);
    border: 0;
    border-right: 2px solid #4c4a4a;
    animation: none;
  }


@keyframes spinLeft {
  from {transform:rotate(0deg);}
  to {transform:rotate(720deg);}
}

@keyframes spinRight {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}

